[{{#repeat 20}}
    {
    "app_guid": "{{appGuid}}",
    "app_name": "{{appName}}",
    "space_guid": "{{spaceGuid}}",
    "org_guid": "{{orgGuid}}",
    "instance_number": "{{number 1 20}}",
    "memory_per_instance": {{number 25 3775}},
    "options": [{
    "buildpack_upgrader": {{boolean}},
    "security_option": {{boolean}},
    "VIP_customer": {{boolean}}
       }]
    }
{{/repeat}}]